.comprar__title {
  margin-top: 12rem;
  font-family: $fuentePrincipal;
  font-size: 4rem;
  font-weight: 700;
  color: $colorPrincipal;
}
.barra-comprar {
  color: $colorPrincipal;
}
.barra-comprar2 {
  margin-top: 6rem;
  color: $colorPrincipal;
}
// CARDS
.card-comprar {
  margin-top: 6rem;
}
.card {
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.5);
}
.card-body-comprar {
  margin-top: 2rem;
  .card-title {
    color: white;
  }
  .card-text {
    color: white;
    font-family: $fuentePrincipal;
  }
}
// iframe google maps
.ubicacion {
  padding-top: 10rem;
  iframe {
    margin: 0 0 0 0;
  }
}
.personajes1 {
  padding-top: 9.8rem;
}
@media (max-width: 767px) {
  .card {
    box-shadow: 0px 25px 15px 0px rgba(0, 0, 0, 0.5);
  }
  .card-2 {
    margin-top: 5rem;
  }
  .personajes1 {
    width: 500rem;
  }
}
