.faq {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-color: #ff5d5d;
  .accordion-item {
    margin-top: 3rem;
    background-color: $colorPrincipal;
    border-radius: 20px;
  }
  .faq-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: $fuentePrincipal;
  }
  .mario-luigi {
    width: 15rem;
  }
}
