* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
  color: $colorgris;
}

// fonts
$fuentePrincipal: "Roboto", sans-serif;

// colores
$colorPrincipal: #eb0d0d;
$colorgris: #797979;
