// banner productos
.banner-mario {
  margin-top: 10rem;
}
// barra
.barra {
  color: #fff;
}

// videojuegos
.productos {
  background-color: #ff5353;
  padding-bottom: 20px;
}

.productos__title {
  padding-top: 5rem;
  color: #fff;
  font-size: 4rem;
}

.productos-container {
  margin-top: 110px !important;
  .card-col {
    padding-top: 4rem;
  }
  .card-game {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.3s;
  }
}
.card-game:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.comprar {
  background-color: $colorPrincipal;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  span {
    letter-spacing: 2px;
  }
}
.comprar:hover {
  opacity: 0.8;
}
.precio {
  color: $colorPrincipal;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  .name__card {
    font-size: 1rem;
    padding-top: 2rem;
  }
  .card-col {
    padding-top: 4rem;
  }
}
